@import '../../../less/globals.less';

.landingPage {
  background: #d2ddf4; 
  background: -moz-linear-gradient(top,  #d2ddf4 0%, #ffffff 100%); 
  background: -webkit-linear-gradient(top,  #d2ddf4 0%,#ffffff 100%); 
  background: linear-gradient(to bottom,  #d2ddf4 0%,#ffffff 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ddf4', endColorstr='#ffffff',GradientType=0 );
  padding-top: 5%;

  &__title {
    &:extend(.kbs-white);
    padding-left: 1%;
    padding-top: 0.2%;
  }

  &__content {
    padding-top: 5% !important;
  }

  &__loginButton {
    padding-right: 1%;
    padding-top: 0.4%;
  }
}
